<!DOCTYPE html>
<html>
<head>
	<title>Predict Cancer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans|'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h1 class="alison-blue-2" style="margin: 30px 15px 15px;"><span>What is Predict?</span></h1>
	<div>	
		<p style="font-size: 20px; margin-left: 15px;"><span>Predict is an online tool that helps patients and clinicians see how different treatmentsfor early invasive cancer might improve survival rates after surgery.</span></p>
		<p style="font-size: 14px; margin-left: 15px;"></p>
	</div>
	
	
	
	
	
	
	
	<h2>Please enter histology features for classification:</h2>

	
	<form method= "POST" action="/results">


			<ul >

					<li id="li_1" >
		<label class="description" for="element_1">Thickness </label>
		<div>
			<input id="element_1" name="thickness" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Size </label>
		<div>
			<input id="element_2" name="size" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Shape </label>
		<div>
			<input id="element_3" name="shape" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Adhesion </label>
		<div>
			<input id="element_4" name="adhesion" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Single </label>
		<div>
			<input id="element_5" name="single" class="element text small" type="text" maxlength="255" value=""/>
		</div>
				</li>		<li id="li_6" >
		<label class="description" for="element_6">nuclei </label>
		<div>
			<input id="element_6" name="nuclei" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Chromatin </label>
		<div>
			<input id="element_7" name="chromatin" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Nucleoli </label>
		<div>
			<input id="element_8" name="nucleoli" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Mitosis </label>
		<div>
			<input id="element_9" name="mitosis" class="element text small" type="text" maxlength="255" value=""/>
		</div>
		</li>


			</ul>

		
		<div>
			<input type=submit value='Classify' name='submit_btn'>
		</div>
	</form>

	<footer class="reddy-container reddy-teal reddy-center reddy-margin-top">
			<p>Find me on social media.</p>
			<a href="https://www.linkedin.com/in/reddy-prasad-e-03b12656/"><i class="fa fa-linkedin" style="font-size:36px"></i></a>&nbsp
			<a href="https://twitter.com/reddyprasade"><i class="fa fa-twitter" style="font-size:36px"></i></a>&nbsp
			<a href="https://github.com/reddyprasade"><i class="fa fa-github" style="font-size:36px"></i></a>&nbsp
			<a href="https://www.instagram.com/reddyprasad_e/"><i class="fa fa-instagram"style="font-size:36px"></i></a>&nbsp
			<a href="https://www.instagram.com/reddyprasad_e/"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>&nbsp
			<a href="https://medium.com/@reddyprasade"><i class="fa fa-medium" style="font-size:36px"></i></a>&nbsp &nbsp &nbsp
		  <p>Powered by <a href="https://github.com/reddyprasade" target="_blank">Reddy Prasad</a></p>
		</footer>
</body>
</html>
